@import './font.css';

:root {
  font-family: "AlimamaFangYuan", serif !important;
  --el-component-size: 40px !important;
  --el-font-size-base: 15px !important;
  --el-border-radius-base: 8px !important;
}

.el-form-item__content {
  line-height: 40px !important;
}

.el-select__wrapper {
  min-height: 40px !important;
}
